<html>
    <head>
        <title>Music Blog Site</title>
        <!--<link rel="icon" href="https://images.pexels.com/photos/590663/pexels-photo-590663.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">-->
        <link rel="icon" href="/stylesheets/favicon.png">
        <link rel="icon" i class="headphones icon">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="headphones icon"></i><span>Music Blog Site</span></div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Entry</a>
            </div>
        </div>